@model IEnumerable<LibraryManagementSystem.Models.Book>

@{
    ViewData["Title"] = "Book's List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<style>
    .auth__header {
        padding: 5vh 1rem calc(3vh + 27px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;
        background-image: linear-gradient(#3280e4, #584dc3);
        background-size: cover;
        background-position: center center;
        position: relative;
        box-shadow: 0 3px 5px rgba(#000, 0.3);
    }

        .auth__header:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

    .auth__logo {
        position: relative;
        z-index: 18;
        padding: 10px;
        border: 1px solid darkblue;
        border-radius: 100%;
        box-shadow: 0 2px 7px rgba(#000, 0.15);
        overflow: hidden;
    }

    h4 {
        margin-left: 8px;
    }

    tr:nth-child(even) {
        background-color: #DDD;
    }
    thead{
        background-color: #111;
        color:white;
    }
</style>
<div class="auth__header">
    <div class="auth__logo">
        <img height="70" src="/imgs/books.png" alt="">
    </div>
    <h4>Book's List</h4>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfCopies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuedBooks)
            </th>
            <th>
                Is Available
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedBooks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.PublisherId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
